.job__dropdown{


      & .dropdown-submenu {


        position: relative;

        
        & .dropdown-menu {

          top: 0;
          left: 100%;
          margin-top: -1px;

        }


      }

     
      


}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

/*const submenu = this.state.submenu */